.remove-selected-user-button {
    --slds-c-button-icon-color-foreground: red;
    --slds-c-icon-color-foreground-default: red;
}

.selected-users {
    height: 50vh;
    overflow-y: auto;
}

.available-users {
    height: 50vh;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .selected-users {
        height: 15vh;
        margin: 0 auto 3% auto;
    }
}

.add-members-button {
    --slds-c-button-text-color: #FFFFFF;
    --slds-c-button-text-color-hover: #FFFFFF;
    --slds-c-button-neutral-color-background: rgb(54, 61, 77);
    --slds-c-button-neutral-color-border: rgb(54, 61, 77);
    --slds-c-button-neutral-color-background-hover: #000000;
    --slds-c-button-neutral-color-border-hover: #000000;
    --slds-c-button-text-color-active: #FFFFFF;
    --slds-c-button-neutral-color-background-active: #000000;
    --slds-c-button-neutral-color-border-active: #000000;
}

.add-members-button:focus {
    outline: none;
    box-shadow: none;
}

