.overview-content-data-tab {
    max-height: 400px;
    overflow-y: auto;
}

.title {
    color: #2e8540;
    font-size: 1.25rem;
    font-weight: bold;
}

.message {
    font-size: 0.95rem;
    color: #5c5e62;
    max-width: 400px;
    margin: 0 auto;
}

.review-details {
    display: flex;
    gap: 16px;
    margin-top: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.review-detail {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.8rem;
    color: #666;
}

.summary-container {
    margin-top: 1rem;
}

.summary-box {
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 1rem;
}

.summary-box .label {
    font-size: 0.875rem;
    color: #6b6b6b;
    margin-bottom: 0.5rem;
}

.summary-box .value {
    font-size: 1.75rem;
    font-weight: bold;
    color: #181818;
}

.summary-box .change {
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.summary-box .value.success {
    color: #2e8540;
}

.summary-box .value.fail {
    color: #c23934;
}

.footer-button {
    margin: 0.5rem 0.5rem 0 0.5rem;
    display: inline-block;
}

.generate-doc-button {
    --slds-c-button-success-text-color: #ffffff;
    --slds-c-button-success-color-border: transparent;
    --slds-c-button-success-color-border-hover: transparent;
    --slds-c-button-success-color-border-active: transparent;
    --slds-c-button-success-color-background: #2e844a;
    --slds-c-button-success-color-background-hover: #276738;
    --slds-c-button-success-color-background-active: #1b4d2e;
    --slds-c-button-outline-brand-color-border: transparent;
}