.review-modal {
    max-height: 70vh;
    overflow-y: auto;
}

.review-field {
    border-left: 4px solid #1589ee;
    background-color: #f9f9f9;
}

.wrappable-text {
    overflow-wrap: break-word;
}
