.preview-table {
    max-height: 300px;
}

.preview-table table {
    width: 100%;
    border-collapse: collapse;
}

.preview-table th, .preview-table td {
    padding: 0.75rem 1rem;
    border: 1px solid #dddbda;
    text-align: left;
}

.preview-table th {
    background-color: #f3f2f2;
}

.preview-table td a {
    color: #0070d2;
    text-decoration: none;
}

.okay-button { 
    --slds-c-button-brand-color-background: rgb(54, 61, 77);
    --slds-c-button-brand-color-border: rgb(54, 61, 77);
    --slds-c-button-brand-color-background-hover: #000000;
    --slds-c-button-brand-color-border-hover: #000000;
}

.okay-button:focus {
    outline: none;
    box-shadow: none;
}